<html>
<head>
    <title>EJS Example</title>
</head>
<body>
    <!-- partials -->
    <% include partials/nav.ejs %>

    <h1>Hello</h1>
    <p>Welcome <%=id%></p>
    <p>Object = <%=obj.name%></p>

    <ul>
        <% obj.age.forEach(function(item){ %>
            <li><%=item%></li>
        <% }); %>
    </ul>
</body>
</html>